@model IEnumerable<tp4.Models.Tarjeta>

@{
    ViewData["Title"] = "Tarjetas";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.numero)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.codigoV)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.limite)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.consumo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.titular)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if(Model != null)
        {
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.numero)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.codigoV)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.limite)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.consumo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.titular.apellido)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.id">Delete</a> |
                        <a asp-action="PagarTarjeta" asp-route-id="@item.id">Pagar tarjeta</a>

                    </td>
                </tr>
        }
        
        
}
    </tbody>
</table>
@if (ViewBag.msg != null)
{
    <div class="alert alert-danger  text-center" role="alert">
        <p>@ViewBag.msg</p>
        
    </div>
}