@model tp4.Models.Tarjeta


@{
    ViewData["Title"] = "Pagar tarjeta";
}

<h1>Pagar tarjeta</h1>



<form asp-action="PagarTarjeta" >
    <input type="hidden" asp-for="id" />
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <h4>Consumo a pagar: @ViewBag.tarjetaConsumo</h4>

         <table class="table table-bordered">
            <thead>
            <tr>
                <th>CBU</th>
                <th>Saldo</th>
                <th>Pagar</th>
            </tr>
            </thead>
        <tbody>
            @if (ViewBag.cajasCbuUsuario != null)
    {
        @for (int i = 0; i < ViewBag.cajasCbuUsuario.Count; i++)
        {
            <tr>
                <td><input type="number" name="cbu_@i" id="cbu_@i" readonly value="@ViewBag.cajasCbuUsuario[i]" /></td>
                <td>@ViewBag.cajasSaldoUsuario[i]</td>
                <td>
                    <form method="post" asp-action="PagarTarjeta">
                        <input type="hidden" name="cajaId" value="@ViewBag.cajasIdUsuario[i]" />
                        <input type="hidden" name="cbu" value="@ViewBag.cajasCbuUsuario[i]" />
                        <input type="submit" value="Pagar" class="btn btn-primary" />
                    </form>
                </td>
            </tr>
        }
    }
        <@if (ViewBag.msg != null && ViewBag.msg != "")
             {
    <h3 class="alert alert-danger mt-2">@ViewBag.msg</h3>
}
</form>

    


 