@model tp4.Models.PlazoFijo

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>PlazoFijo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.monto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.monto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fechaIni)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fechaIni)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fechaFin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fechaFin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.tasa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.tasa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.pagado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.pagado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.titular)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.titular.apellido)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cbu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cbu)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        @if (ViewData["msg"] != null && ViewData["msg"] != "")
        {
            <h3 class="alert alert-danger">@ViewData["msg"]</h3>
        }
        <a asp-action="Index">Back to List</a>
    </form>
</div>
